
<!--Basic form page that we will use to submit URLs to be shortened.-->
<!DOCTYPE html>
<html lang="en">
  <head>    <% include partials/_header %>
  </head>
  <body style="font-size:20px; padding:50px;">
    <form action="/login" method="POST" style="margin:150px;">
      <label for="username">Enter a Username:</label>
      <input id="username" type="text" name="username" placeholder="Enter username..." style="width: 300px">

      <label for="password">Enter the Password:</label>
      <input id="password" type="text" name="password" placeholder="Enter Password" style="width: 300px">
      
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

