<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - Update URL</title>
</head>
<body style="font-size:20px; padding:50px;">
	<% include partials/_header %>
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">        
    <label for="longURL" id="shortURL"><h2>Short URL Generated:</h2></label>
     <a href="#" target="_blank">http://localhost:8480/u/<%= shortURL %></a><br><br><br>
      <input id="longURL" type="text" name="longURL" value= <%= urls[shortURL].url %> style="width: 300px">
      <input type="submit" value="Update Long URL">
    </form>
</body>
</html>

